*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*Inizio Header*/

header{
    position: fixed;
    background-color: orange;
    padding: 15px 15px;
    width: 100%;
    z-index: 1;
}
/*Fine Header*/

/*Inizio Main*/
main{
    padding-top: 100px;
}

/*CLASSI DI LAYOUT*/

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.col-100{
    width: 100%;
}

.col-33{
    margin: 10px;
    width: calc(100% / 3 - 20px);
}

.immagine{
    position: relative;
}

.immagine img{
    width: 100%;
}

.sconto{
    position: absolute;
    bottom: 50px;
    left: 0px;
    padding: 5px 10px;
    color: white;
}

.sosten{
    position: absolute;
    bottom: 20px;
    left: 0px;
    padding: 5px 10px;
    background-color: green;
    color: white;

}

.bg-red{
    background-color: red;
}

/*Fine Main*/